@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  --body-bg-color: #1a1c1d;
  --text-color: #aaaebc;
  --hr-color: #26292a;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-font-menu {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}

.nav-shadow {
  -webkit-box-shadow: 0.5px 0.7px 1.6px rgba(0, 0, 0, 0.057), 1.1px 1.7px 3.8px rgba(0, 0, 0, 0.082), 1.9px 3px 6.9px rgba(0, 0, 0, 0.101), 3.2px 5px 11.4px rgba(0, 0, 0, 0.119), 5.3px 8.2px 18.8px rgba(0, 0, 0, 0.138), 9.2px 14.3px 32.8px rgba(0, 0, 0, 0.163), 20px 31px 71px rgba(0, 0, 0, 0.22);
          box-shadow: 0.5px 0.7px 1.6px rgba(0, 0, 0, 0.057), 1.1px 1.7px 3.8px rgba(0, 0, 0, 0.082), 1.9px 3px 6.9px rgba(0, 0, 0, 0.101), 3.2px 5px 11.4px rgba(0, 0, 0, 0.119), 5.3px 8.2px 18.8px rgba(0, 0, 0, 0.138), 9.2px 14.3px 32.8px rgba(0, 0, 0, 0.163), 20px 31px 71px rgba(0, 0, 0, 0.22);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu li {
  margin-inline: 0.5rem;
}

.menu a {
  position: relative;
  display: block;
}

.menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(#7e7d7d), color-stop(#e4dada), color-stop(#e4dada), color-stop(#7e7d7d), to(black));
  background: linear-gradient(to right, black, #7e7d7d, #e4dada, #e4dada, #7e7d7d, black);
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.menu a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.transparent-button {
  background-color: transparent;
}

.dropdown-item:active {
  background-color: transparent;
}

.menu[data-animation="to-left"] a::before {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu[data-animation="center"] a::before {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.menu[data-animation="bonus"] a::before {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu[data-animation="bonus"] a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
          transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

.renier-logo {
  width: 125px;
}

.footer-menu {
  background-color: #0d2033;
  color: #fff;
  margin-top: 0.313rem;
  padding-inline: 0;
  font-family: "Russo One", sans-serif;
}

.copy-menu {
  background-color: #0a1a2a;
  padding-block: 0.188rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.125rem;
}

.container .box-class {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container .box-class a:hover {
  color: aqua;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.is-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.is-pair div:nth-child(odd) {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
  padding: 1em 0;
}

.logo-mob {
  height: 100px;
}

@media (max-width: 576px) {
  .is-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login-box {
    width: 300px !important;
  }
  .box-class {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .box-img-class {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .box-img-class img {
    width: 12.5rem !important;
  }
  .mid-section {
    padding-inline: 2rem 0;
    text-align: center;
  }
  .is-pair div:nth-child(odd) {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    padding: 1rem;
  }
  .is-pair div:nth-child(even) {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    padding: 1rem;
  }
  .container-img {
    width: 100%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container-img .box-img img {
    height: 400px;
    margin-top: 4rem;
  }
  .galery {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .close {
    top: 18rem;
    right: 2rem;
  }
  .width-img {
    width: 100% !important;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: 18px;
  }
  .menu a {
    position: relative;
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    text-align: left;
    color: #000;
  }
  .navbar-nav .dropdown-menu {
    background: #f8f9fa;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
  }
  .renier-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 125px;
  }
  .v-landscape {
    display: none;
  }
  .v-mobile {
    display: block;
  }
  .logo-mob {
    margin-top: 34px;
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .v-tablet {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .p-center {
    max-width: 34ch;
    text-align: center;
  }
  .logo-mob {
    width: 60%;
  }
  .v-mobile {
    display: none;
  }
  .v-landscape {
    display: block;
  }
}

@media (min-width: 992px) {
  .v-landscape {
    display: none;
  }
  .logo-mob {
    width: 60%;
  }
}

.galery-font {
  font-family: "Russo One", sans-serif;
  text-align: center;
  padding-top: 6rem;
  font-size: 1.5rem;
  font-weight: 100;
  text-decoration: underline;
}

.galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  gap: 10px;
  margin: auto;
  padding: 40px 0 0 0;
  overflow: hidden;
}

.galery img {
  width: 100%;
  vertical-align: top;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-shadow: 0.5px 0.7px 1.6px rgba(0, 0, 0, 0.057), 1.1px 1.7px 3.8px rgba(0, 0, 0, 0.082), 1.9px 3px 6.9px rgba(0, 0, 0, 0.101), 3.2px 5px 11.4px rgba(0, 0, 0, 0.119), 5.3px 8.2px 18.8px rgba(0, 0, 0, 0.138), 9.2px 14.3px 32.8px rgba(0, 0, 0, 0.163), 20px 31px 71px rgba(0, 0, 0, 0.22);
          box-shadow: 0.5px 0.7px 1.6px rgba(0, 0, 0, 0.057), 1.1px 1.7px 3.8px rgba(0, 0, 0, 0.082), 1.9px 3px 6.9px rgba(0, 0, 0, 0.101), 3.2px 5px 11.4px rgba(0, 0, 0, 0.119), 5.3px 8.2px 18.8px rgba(0, 0, 0, 0.138), 9.2px 14.3px 32.8px rgba(0, 0, 0, 0.163), 20px 31px 71px rgba(0, 0, 0, 0.22);
}

.galery > a {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.galery:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: rotate(10deg) scale(1.3);
          transform: rotate(10deg) scale(1.3);
}

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.light-box img {
  width: 75vw;
  max-height: 70vh;
}

.light-box:target {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.close {
  display: block;
  position: absolute;
  top: 6rem;
  right: 8rem;
  background: #851919;
  color: #fff;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.next {
  display: block;
  background: #851919;
  color: #fff;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
}

.main-font {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.1rem;
  margin-top: 7rem;
}

.nav-link {
  text-transform: uppercase;
}

.footer-font {
  font-family: "Russo One", sans-serif;
}

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-width: 450px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  padding-top: 100px;
  min-height: 80vh;
}

.title-contact {
  font-size: 28px;
  color: black;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  text-decoration: underline;
}

.title-contact::before,
.title-contact::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: black;
}

.title-contact::before {
  width: 18px;
  height: 18px;
  background-color: black;
}

.title-contact::after {
  width: 18px;
  height: 18px;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

.message,
.signin {
  font-size: 20px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  -webkit-text-decoration: underline royalblue;
          text-decoration: underline royalblue;
}

.flex-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 6px;
}

.form-contact label {
  position: relative;
}

.form-contact label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form-contact label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-contact label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form-contact label .input:focus + span,
.form label .input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form-contact label .input:valid + span {
  color: green;
}

.submit {
  padding: 10px 20px;
  border-radius: 8px;
  background: #f3f2f2;
  border: 2px solid #ffffffea;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.submit:hover {
  background: black;
  border: 1px solid black;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  -webkit-box-shadow: 0 0 1px black, 0 0 5px black, 0 0 10px black, 0 0 30px black;
          box-shadow: 0 0 1px black, 0 0 5px black, 0 0 10px black, 0 0 30px black;
  color: #fff;
  letter-spacing: 8px;
}

.text-a {
  resize: vertical;
  outline: none;
  height: 180px;
}

.message-form {
  width: 100%;
  outline: none;
  padding: 10px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0;
  }
}

.img-index-base, .img-index {
  border-radius: 1rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-index {
  padding-left: 0.5rem;
}

.img_carrito {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  text-transform: uppercase;
  font-weight: 500px;
  font-size: 30px;
  margin: 0;
}

#cesta-carrito {
  border: none;
  color: black;
  font-size: 20px;
  background-color: transparent;
  padding: 10px 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 30px;
}

#cesta-carrito:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#cesta-carrito:focus {
  outline: none;
}

#contenedor-productos {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  max-width: 60rem;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

p {
  line-height: 1.8;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}

.card1 {
  max-width: 30%;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  font-family: "Ubuntu", sans-serif;
}

select {
  display: inline;
  text-align: center;
  border: 1px solid lightskyblue;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 700px;
  padding: 20px;
  margin-top: -100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: black;
  padding-bottom: 5px;
}

.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: black !important;
  border: none;
  background-color: white;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
}

.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer;
}

.modal-carrito #btn-cerrar-carrito:focus {
  outline: none;
}

.modal-carrito .producto-precio {
  padding-top: 10px;
}

.card1 .card1-title {
  color: black;
  position: unset;
  width: 300px;
  font-family: "Russo One", sans-serif;
  font-size: 1.2rem;
}

.card1-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 350px;
  min-height: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
}

.productoEnCarrito:hover {
  border-left: 5px solid lightblue;
}

.boton-eliminar {
  background-color: white;
  color: black;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

.product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.plus-icon {
  background-color: black;
  color: white;
  width: 40px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cantidad-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cantidad-control button {
  margin: 0 10px;
  /* Espacio entre los botones y la cantidad */
  background-color: black;
}

.toastify-top {
  top: 70px !important;
}
/*# sourceMappingURL=styles.css.map */