@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Ubuntu:wght@300;400;500;700&display=swap');

$fontRusso: 'Russo One', sans-serif;
$footerMenuBgColor: #0d2033;
$copyMenuBgColor: #0a1a2a;
$maincolor: #fff;
$fontUbuntu: 'Ubuntu', sans-serif;
$fontSizeNav: 1.2rem;
$closeNextColor: #851919;